registry=https://registry.npmjs.org/
strict-ssl=true
prefer-ipv4=true
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=120000
fetch-timeout=300000
store-dir=C:\Users\Dell Inspiron 15\AppData\Local\pnpm\store\v10
